
		@media only screen and (max-width: 480px) {
			/* horizontal scrollbar for tables if mobile screen */
		.tablemobile {
			overflow-x: auto;
			display: block;
		}
	}
	
	.insert {
		font-size: 15;	
		font-family: sans serif;

	}
	
	table {
		border-collapse: collapse;
		border: none;
		width: 100%;
		color: black;
		font-family: sans-serif;
		font-size: 15px;
		text-align:left;
		
	  }   
	
	h1 {
	background-color: white ;
      padding: 3px;
      text-align: center;
      font-size: 40px;
      color:rgb(14, 68, 104);
      font-weight: lighter;
      font-family: impact,sans-serif;
	}
			
	th {
	text-align: left;
   border: 1px solid rgb(14, 68, 104);
   background-color: rgb(14, 68, 104);
   color: white;
   font-weight: bold;
   font-size: 15px;
   padding: 12px 15px;
	}
	
	td {
		border: none;
		padding: 10px;
	}
			
	tr:nth-child(odd) {
		background-color: rgb(188, 198, 202);
	}
	
	tr:nth-child(even) {
		background-color: white;
	}

	input[type=button] {
        background-color: rgb(14, 68, 104);
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: center;
        font-weight: bold;

      }

      input[type="button"]:hover {
        opacity: 0.5;
		}
		
button{
	background-color: rgb(14, 68, 104);
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: center;
		font-weight: bold;
}

button:hover{
	opacity:0.5;
}